# Nuxt build artifacts
.nuxt
.output
.data
dist

# Nuxt Content SQLite cache
.cache

# Task runner cache
.task

# Dependencies
node_modules

# Logs
*.log

# Env files
.env
.env.*
!.env.example

# Editor / OS noise
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
